<!DOCTYPE html>
<html lang="en">
<head>
    <title>VueJS Beginners Tutorial</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h1>Loping</h1>
        
        <ul>
            <li v-for="character in characters">
                {{ character }}
            </li>
        </ul>

        <template v-for="(ninja, index) in ninjas">
            <h3>{{ index+1 }}. {{ ninja.name }} - {{ ninja.age }}</h3>                
        </template>
        <hr>
        <template v-for="ninja in ninjas">
            <div v-for="(value, key) in ninja">
                <p>{{ key }} - {{ value }}</p>
            </div>
        </template>
    </div>
    
    <script src="vue.js"></script>
    <script src="app.js"></script>
</body>
</html>